/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* img_formatting */
img{
  max-width: 100%;
}

/* root_colors */
:root{
  --primary-color: #0084fd;
  --parymary-color-light: #b5ddff;
  --secondary-color: #9792e4;
  --secondary-color-light: #d5d4f4;
}

/* root_spaces */
:root{
  --padding-y-4: 4em auto;
  --padding-4: 4em; 
}

/* common_section */
html{
  font-size: 100%;
  font-family: 'PT Sans', sans-serif;
}

/* botton */
.btn{
  border-radius: 30px;
  padding: 0.5em 1.5em;
  text-align: center;
}

.white-btn{
  background-color: white;
  color: var(--secondary-color);
}

.blue-btn{
  background-color: var(--primary-color);
  color: white;
  margin: 1em auto;
  width: 95%;
}

.btn a {
  color: inherit;
  text-decoration: none;
}

.card{
  border-radius: 20px;
  padding: 1em;
}

.large-b-radius{
  border-radius: 50px;
}

.flex-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .flex-container,
.jumbo .flex-container,
#planning .flex-container,
#testimonials .flex-container,
#features .flex-container,
#about-us .flex-container,
#get-started .flex-container,
footer .flex-container{
  width: 95%;
  padding: 1em;
  margin: 0 auto;
}

/* media_query */
/* desktop */
@media screen and (min-width: 992px){
  header .flex-container,
  .jumbo .flex-container,
  #testimonials .flex-container,
  #features .flex-container,
  #about-us .flex-container
  {
      width: 80%;
      max-width: 1200px;
  }

  #get-started .flex-container{
      width: 30%;
  }
}

/* text_formatting */
h1{
  color: var(--secondary-color);
  font-size: 2.5rem;
  padding: 1em 0;
}

h2{
  font-size: 2.8rem;
  padding: 1.5em 0;
}

h3{
  font-size: 2rem;
  padding: 1em 0;
}

p{
  line-height: 2rem;
  font-size: 1.2rem;
}

/* header */
header{
  background-color: var(--primary-color);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

nav i{
  font-size: 1.5rem;
}

/* hide:menu */
header .hide-menu{
  list-style-type: none;
  display: none;
  font-weight: 700;
}

.hide-menu li{
  padding: .5em;
}

.hide-menu a{
  text-decoration: none;
  color: inherit;
}

/* media_quey */
@media screen and (min-width: 992px) {
  header .hide-menu{
      display: flex;
      align-items: center;
  }

  header nav i:first-child{
      display: none;
  }

  header .hide-menu li{
      padding: 0.5em 1.8em;
  }

  header .hide-menu .btn{
      color: black;
  }
}

/* jumbo_section_formatting */
.jumbo{
  padding-top: 6rem;
  padding-bottom: 4rem;
}

.jumbo .bag{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
}

.jumbo .bag .card{
  width: 100%;
  background-color: var(--parymary-color-light);
  text-align: center;
  padding: 2rem 3rem;
  line-height: 2rem;
  font-size: 1.3rem;
}

.jumbo .bag .card i{
  font-size: 6rem;
  color: var(--primary-color);
}

.jumbo .bag .card .btn i {
  font-size: 2rem;
  color: white;
  margin-bottom: 0;
  margin-right: 0.5rem;
}

.jumbo .bag .card h3{
  color: var(--primary-color);
  font-size: 1.7rem;
}

.jumbo .bag .card:first-child{
  text-align: start;
  padding-bottom: 0;
}

.jumbo .bag .card:first-child img{
  position: relative;
  bottom: -10px;
  width: 100%;
}

.jumbo .bag .card:first-child .img-wrapper{
  margin: 0 auto;
  width: 100%;
}

/* media_query_jumbo */
/* tablet */
@media screen and (min-width: 768px){
  .jumbo .bag .card{
      width: calc(100% / 3 - (1.5rem * 2 / 3));
  }
  
  .jumbo .bag .card:first-child{
      width: calc(100% / 3 * 2 - 1.5rem / 3);
      display: flex;
      flex-direction: row;
  }
  
  .jumbo .bag .card:first-child .text-wrapper{
      width: 70%
  }

  .jumbo .bag .card:first-child img{
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 10%;
  }

  .jumbo .bag .card:first-child .img-wrapper{
      position: relative;
      height: 100%;
      width: 70%;
      margin: 0;
  }

  .jumbo .card .btn{
      width: 80%;
      margin: 2rem 0;
  }
}

/* desktop */
@media screen and (min-width: 992px){
  .jumbo .bag .card{
      width: calc(100% / 3 - (1.5rem * 2 / 3));
  }

  .jumbo .bag .card:first-child img{
      width: 80%;
  }
  
  .jumbo .bag .card:first-child{
      width: calc(100% / 3 * 2 - 1.5rem / 3);
      display: flex;
      flex-direction: row;
  }
}

/* planning_section_formatting */
#planning{
  background-color: var(--secondary-color);
}

#planning .flex-container{
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: var(--padding-5);
}

#planning .strategic-planning{
  color: white;
  margin: 5rem auto;
}

#planning .app-development{
  text-align: center;
  background-color: white;
}

#planning .app-development p{
  font-style: italic;
  padding: 0 1em
  1em;
}

.circle-btn{
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: var(--secondary-color);
  margin: 1em auto 2em;
}

.circle-btn i{
  color: black;
  font-size: 1rem;
  vertical-align: middle;
  padding: 1rem;
}

.circle-btn:hover i{
  color: white;
}
/* media_query */
/* desktop */
@media screen and (min-width: 992px){
  #planning .flex-container{
      width: 60%;
      max-width: 1000px;
      flex-direction: row;
      justify-content: space-between;
      gap: 4em;
  }

  #planning .app-development{
      margin-top: 10rem;
      width: 40%;
  }

  #planning .strategic-planning{
      width: 60%;
  }
}

/* testimonial_section_formatting */
#testimonials .flex-container{
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  padding: var(--padding-4);
}

#testimonials .bag{
  margin-top: 3em;
}

#testimonials .bag p{
  padding: 0.5em 0 1em;
}

#testimonials .card{
  width: 100%;
  background-color: var(--secondary-color);
  margin-bottom: 2em;
  color: white;
}

#testimonials .card .text-wrapper .testimonial-name{
  font-size: 1.2rem;
  font-weight: 700;
}

#testimonials .card .text-wrapper p i{
  margin: 0 0.5rem;
  font-size: 2rem;
}

#testimonials .portrait{
  width: 250px;
  height: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin: 0 auto;
}

#testimonials .nat{
  background-image: url(../img/testimonial1.jpg);
  margin-left: 0px;
}

#testimonials .celia{
  background-image: url(../img/testimonial2.jpg);
  margin-left: 0px;
}

#testimonials .bob{
  background-image: url(../img/testimonial3.jpg);
  margin-left: 0px;
}

/* media_query_testimonial */
/* tablet */
@media screen and (min-width: 768px){
  #testimonials .bag .card{
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: start;
  }

  #testimonials .portrait{
      width: 170px;
      height: 170px;
  }

  #testimonials .card .text-wrapper{
      width: 75%;
  }
}





